[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }