.idea
build.gradle
gradle*
mpm.iml
target/
/mpm.iml
src/main/gui/node_modules/
src/main/gui/dist/
src/main/gui/.tmp/
src/main/gui/.sass-cache/
src/main/gui/bower_components/
src/main/webapp-1/
db/
/installer/setup.exe
/installer/*.jar
/installer/jre/
/installer/jre-8u74-windows-i586.gz
