
<div ng-controller="CajaController">
    <div class="panel panel-primary no-print" style="width: 90%; margin: 5%; margin-top: 100px;">
        <div class="panel-heading">Caja Resumen del día</div>
        <div class="panel-body">
            <div class="input-group" style="margin-bottom: 5px;">
                <span class="input-group-addon" id="vendedor" style="width: 200px;">Vendedor</span>
                <select class="btn btn-default" ng-options="vendedor as vendedor.username for vendedor in vendedores.content track by vendedor.username" ng-model="vendedor" ng-change="resumen();">
                    <option value=""></option>
                </select>
            </div>


            <div class="input-group" style="margin-bottom: 5px;" ng-show="cajaAbierta">
                <span class="input-group-addon" id="apertura" style="width: 200px;">Apertura de caja</span>
                <input type="text" class="form-control" disabled value="{{caja.apertura.epochSecond*1000 | date:'yyyy-MM-dd HH:mm:ss' : '+0000'}}">
            </div>
            <div class="input-group" style="margin-bottom: 5px;" ng-show="cajaAbierta">
                <span class="input-group-addon" id="efectivo" style="width: 200px;">Efectivo</span>
                <input type="text" class="form-control" disabled value="{{caja.efectivo | currency}}">
            </div>
            <div class="input-group" style="margin-bottom: 5px;" ng-show="cajaAbierta">
                <span class="input-group-addon" id="tarjeta" style="width: 200px;">Tarjeta</span>
                <input type="text" class="form-control" disabled value="{{caja.tarjeta | currency}}">
            </div>
            <div class="input-group" style="margin-bottom: 5px;" ng-show="cajaAbierta">
                <span class="input-group-addon" id="totalVentaDia" style="width: 200px;">Total venta del día</span>
                <input type="text" class="form-control" disabled value="{{caja.totalVentaDia | currency}}">
            </div>

            <div class="input-group" style="margin-bottom: 5px;" ng-show="cajaAbierta">
                <span class="input-group-addon" id="efectivoDiaSiguiente" style="width: 200px;">Efectivo día siguiente</span>
                <input type="text" class="form-control" disabled value="{{caja.efectivoDiaSiguiente | currency}}">
            </div>

            <div style="margin-top: 10px;">
                <button ng-click="abrir();" class="btn btn-success" ng-hide="cajaAbierta" ng-disabled="vendedor.username == undefined">Abrir</button>
                <button ng-click="cerrar();" class="btn btn-success" ng-show="cajaAbierta" ng-disabled="vendedor.username == undefined">Cerrar e Imprimir</button>
            </div>
        </div>
    </div>
    <div id="cajaReporteImprimir" ng-hide="cajaAbierta || imprimir.caja.cajaId == undefined" >

        <div class="panel panel-primary" style="width: 90%; margin: 5%; margin-top: 100px;">
            <div class="panel-heading">Caja Resumen</div>
            <div class="panel-body">
                <button ng-click="print();" class="btn btn-success">Imprimir</button>
                <h4>Número de Cierre: {{imprimir.caja.cajaId}}</h4>
                <h4>Apertura de Caja: {{imprimir.caja.apertura.epochSecond*1000 | date:'yyyy-MM-dd HH:mm:ss' : '+0000'}} ({{imprimir.caja.aperturaUsername}})</h4>
                <h4>Cierre de Caja: {{imprimir.caja.cierre.epochSecond*1000 | date:'yyyy-MM-dd HH:mm:ss' : '+0000'}} ({{imprimir.caja.cierreUsername}})</h4>
                <h4>Efectivo: {{imprimir.caja.efectivo | currency}}</h4>
                <h4>Tarjeta: {{imprimir.caja.tarjeta | currency}}</h4>
                <h4>Total ventas del día: {{imprimir.caja.totalVentaDia | currency}}</h4>
                <h4>Efectivo día siguiente: {{imprimir.caja.efectivoDiaSiguiente | currency}}</h4>
            </div>
        </div>

        <div id="listaRetiros" style="font-size: x-small;">
            <div class="panel panel-primary" style="width: 90%; margin: 5%; margin-top: 10px;">
                <div class="panel-heading">Retiros</div>
                <table id="tablaListaRetiros" class="table">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Vendedor</th>
                        <th>Monto</th>
                        <th>Descripción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="retiro in imprimir.retiroList">
                        <td style="width: 20%">{{retiro.fecha.epochSecond*1000 | date:'yyyy-MM-dd HH:mm:ss' : '+0000'}}</td>
                        <td style="width: 20%">{{retiro.username}}</td>
                        <td style="width: 20%">{{retiro.monto | currency}}</td>
                        <td style="width: 40%">{{retiro.descripcion}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="lista" style="font-size: x-small;">
            <div class="panel panel-primary" style="width: 90%; margin: 5%; margin-top: 10px;">
                <div class="panel-heading">Ventas</div>
                <div class="panel-body">
                </div>
                <table id="tablaListaVendedor" class="table">
                    <thead>
                    <tr>
                        <th style="width: 15%">Fecha</th>
                        <th style="width: 10%">Username</th>
                        <th style="width: 15%">Código</th>
                        <th style="width: 25%">Descripción</th>
                        <th style="width: 5%">Cantidad</th>
                        <th style="width: 5%">Monto</th>
                        <th style="width: 10%">Forma de Pago</th>
                        <th style="width: 10%">Cupon</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="v in imprimir.ventaList">
                        <td>{{v.fecha.epochSecond*1000 | date:'yyyy-MM-dd HH:mm:ss' : '+0000'}}</td>
                        <td>{{v.username}}</td>
                        <td>{{v.codigo}}</td>
                        <td>{{v.descripcion}}</td>
                        <td>{{v.cantidad}}</td>
                        <td>{{v.precio | currency}}</td>
                        <td>{{v.tipoPago}}</td>
                        <td>{{v.nroCupon}}</td>
                        <td><h6 ng-show="v.precio < 0"><span class="label label-danger">Devolución</span></h6>
                        <h6 ng-show="(v.factor1*v.factor2*v.precioLista) > v.precio"><span class="label label-info">Descuento</span></h6></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>