<div >
    <div id="listaArticulos">
        <div class="panel panel-primary" style="width: 90%; margin: 5%; margin-top: 100px;">
            <div class="panel-heading">Buscar artículos</div>
            <div class="panel-body">
                <div class="form-group-sm">
                    <label for="buscar">Buscar</label>
                    <input type="text" id="buscar" class="form-control" placeholder="buscar articulo"  ng-model="search" ng-change="buscarArticulo();"/>
                </div>
                <uib-pagination total-items="listado.totalElements" ng-model="pageNumber" max-size="maxSize" items-per-page="listado.size" class="pagination-sm" boundary-links="true" ng-change="obtenerListaArticulo();"></uib-pagination>
            </div>
            <table id="tablaListaArticulo" class="table">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="articulo in listado.content">
                    <td style="width: 20%">{{articulo.codigo}}</td>
                    <td style="width: 10%">{{articulo.precio | currency}}</td>
                    <td style="width: 10%">{{articulo.cantidadStock}}</td>
                    <td style="width: 40%">{{articulo.descripcion}}</td>
                    <td style="width: 20%">
                        <div class="btn-group">
                            <button ng-click="agregarCarrito(articulo);" class="btn btn-primary btn-sm">Agregar</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="listaCarrito">
        <div class="panel panel-primary" style="width: 90%; margin: 5%">
            <div class="panel-heading">Artículos en el carrito de compras</div>
            <div class="panel-body">
                <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon" id="vendedor" style="width: 150px;">Vendedor</span>
                    <select class="btn btn-default" ng-options="vendedor as vendedor.username for vendedor in vendedores.content track by vendedor.username" ng-model="vendedor" ng-change="actualizarCarrito();">
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon" id="formaPago" style="width: 150px;">Forma de pago</span>
                    <select class="btn btn-default navbar-left" ng-options="pago as pago.value for pago in pagos track by pago.value" ng-model="formaPago" ng-change="actualizarCarrito();"></select>
                </div>
                <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon" id="montoTotal" style="width: 150px;">Monto total</span>
                    <input type="number" class="form-control" disabled ng-model="montoTotal" min="0" step="1">
                </div>
                <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon" id="efectivo" style="width: 150px;">Efectivo</span>
                    <input type="number" class="form-control" ng-model="efectivo" ng-disabled="!(formaPago.id == 3)" ng-change="actualizarTarjeta();" min="0" step="1">
                </div>

                <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon" id="tarjeta" style="width: 150px;">Tarjeta</span>
                    <input type="number" class="form-control" ng-model="tarjeta" disabled min="0" step="1">
                </div>

                <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon" id="numeroCupon" style="width: 150px;">Número Cupon</span>
                    <input type="text" class="form-control" ng-model="numeroCupon" placeholder="Numero de cupon">
                </div>
                <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon" id="finalizarVenta" style="width: 150px;" >Finalizar Venta</span>
                    <div class="btn-group">
                        <button class="btn btn-success btn-sm" ng-click="vender();" ng-disabled="montoTotal < 0 || vendedor.username == undefined">Confirmar Venta</button>
                        <button class="btn btn-info btn-sm" ng-click="notaCredito();">Generar nota crédito</button>
                        <button class="btn btn-danger btn-sm" ng-click="cancelar();">Cancelar Venta</button>
                    </div>
                </div>
            </div>
            <table id="tablaListaArticuloCarrito" class="table">
                <thead>
                <tr>
                    <th style="width: 10%">Vendedor</th>
                    <th style="width: 20%">Código</th>
                    <th style="width: 30%">Descripción</th>
                    <th style="width: 5%">Descuento</th>
                    <th style="width: 5%">Precio</th>
                    <th style="width: 5%">Cantidad</th>
                    <th style="width: 10%">Subtotal</th>
                    <th style="width: 15%">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in carrito">
                    <td >{{item.vendedor.username}}</td>
                    <td >{{item.articulo.codigo}}</td>
                    <td >{{item.articulo.descripcion}}</td>
                    <td ><input type="number" min=0 max=20 step=5 ng-model="item.descuento" ng-change="calcularTotal();"/></td>
                    <td >{{item.articulo.precio*(1-item.descuento/100) | currency}}</td>
                    <td >{{item.cantidad}}</td>
                    <td >{{(item.cantidad*item.articulo.precio*(1-item.descuento/100)) | currency}}</td>
                    <td >
                        <div class="btn-group">
                            <button ng-click="agregarCarrito(item.articulo);" class="btn btn-primary btn-sm" ng-show="item.articulo.precio >= 0" ><span class="glyphicon glyphicon-plus"></span></button>
                            <button ng-click="removerCarrito(item.articulo);" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <thead>
                <tr >
                    <th colspan="7">Devoluciones</th>
                    <th><button class="btn btn-danger btn-sm" ng-click="devolucion();">Cargar Devolución</button></th>
                </tr>
                <tr>
                    <th style="width: 10%">Vendedor</th>
                    <th style="width: 20%">Código</th>
                    <th style="width: 30%">Descripción</th>
                    <th style="width: 5%">Precio</th>
                    <th style="width: 5%">Cantidad</th>
                    <th style="width: 10%">Subtotal</th>
                    <th style="width: 20%">Acciones</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in listDevolucion">
                    <td>{{item.vendedor.username}}</td>
                    <td>{{item.venta.codigo}}</td>
                    <td>{{item.venta.descripcion}}</td>
                    <td>{{item.venta.precio | currency}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{(item.cantidad*item.venta.precio) | currency}}</td>
                    <td>
                        <div class="btn-group">
                            <button ng-click="removerDevolucion(item.venta);" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                    </td>
                    <td></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmacionVenta" id="confirmacionVenta">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmación de la venta</h4>
                </div>
                <div class="modal-body">
                    <p>La venta se ha realizado con éxito, el código de venta es: <h3>{{mensajeConfirmacionVenta}}</h3></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogDevolucion" id="dialogDevolucion">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Devoluciones</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="form-group-sm">
                                <label for="buscar">Ingresar Código</label>
                                <input type="text" id="buscarDevolucion" class="form-control" placeholder="codigo"  ng-model="codigoDevolucion" ng-change="buscarArticuloDevolucion();"/>
                            </div>
                        </div>
                        <table id="tablaListaArticuloDevolucion" class="table">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Precio</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="articulo in listadoDevolucion" ng-show="articulo.precio > 0">
                                <td style="width: 20%">{{articulo.codigo}}</td>
                                <td style="width: 10%">{{articulo.precio | currency}}</td>
                                <td style="width: 40%">{{articulo.descripcion}}</td>
                                <td style="width: 20%">
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm" ng-click="agregarDevolucion(articulo);">Agregar</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


</div>