<div>
    <div id="agregarArticulo" class="panel panel-primary" style="width: 100%; margin: 5%; margin-top: 100px;">
        <div class="panel-heading"></a>Agregar nuevo artículo</div>
        <div class="panel-body">
            <form>
                <div class="form-group-sm">
                    <label for="descripcion">Código de barra</label>
                    <input type="text" id="codigo" class="form-control" placeholder="Codigo de barra" ng-model="articulo.codigo" />
                </div>
                <div class="form-group-sm">
                    <label for="descripcion">Descripción</label>
                    <input type="text" id="descripcion" class="form-control" placeholder="Descripcion" ng-model="articulo.descripcion" />
                </div>
                <div style="margin-top: 10px;">
                    <button ng-click="agregarArticulo();" class="btn btn-success" ng-disabled="!isModificable();"><span class="glyphicon glyphicon-plus"></span>Agregar nuevo</button>
                    <button ng-click="modificarArticulo();" class="btn btn-primary" ng-disabled="isModificable();"><span class="glyphicon glyphicon-edit"></span>Modificar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="stock" class="panel panel-primary" style="width: 100%; margin: 5%">
        <div class="panel-heading"></a>Ingreso de Stock</div>
        <div class="panel-body">
            <form>
                <div class="form-group-sm">
                    <label for="descripcion">Cantidad</label>
                    <input type="number" id="candidad" class="form-control" min="0" max="99999" ng-model="cantidad"  />
                </div>
                <div class="form-group-sm">
                    <label for="descripcion">Tipo</label>
                    <select class="form-control" ng-options="estado as estado.label for estado in estados track by estado.id" ng-model="estado"></select>
                </div>
                <div style="margin-top: 10px;">
                    <button ng-click="agregarItems(articulo, cantidad, estado);" class="btn btn-success" ng-disabled="!(!isModificable() && cantidad > 0)"><span class="glyphicon glyphicon-plus"></span>Agregar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="listaArticulos">
        <div class="panel panel-primary" style="width: 100%; margin: 5%">
            <div class="panel-heading">Buscar artículos</div>
            <div class="panel-body">
                <div class="form-group-sm">
                    <label for="buscar">Buscar</label>
                    <input type="text" id="buscar" class="form-control" placeholder="buscar articulo"  ng-model="search" ng-change="buscarArticulo();"/>
                </div>
                <uib-pagination total-items="listado.totalElements" ng-model="pageNumber" max-size="maxSize" items-per-page="listado.size" class="pagination-sm" boundary-links="true" ng-change="obtenerListaArticulo();"></uib-pagination>
                <pre>Página: {{pageNumber}} / {{listado.totalPages}}</pre>
            </div>
            <table id="tablaListaArticulo" class="table">
                <thead>
                <tr>
                    <th>Código</th>
                    <!--<th>Precio / Lista</th>-->
                    <th>Stock</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="articulo in listado">
                    <td style="width: 20%">{{articulo.codigo}}</td>
                    <!--<td style="width: 10%">{{articulo.precio | currency}} / {{articulo.precioLista | currency}}</td>-->
                    <td style="width: 10%">{{articulo.cantidadStock}}</td>
                    <td style="width: 30%">{{articulo.descripcion}}</td>
                    <td style="width: 20%">
                        <div class="btn-group">
                          <!--
                            <button ng-click="modificar(articulo);" class="btn btn-primary btn-sm">Modificar</button>
                            <button ng-click="copiar(articulo);" class="btn btn-primary btn-sm">Copiar</button>
                            <button ng-click="eliminar(articulo);" class="btn btn-danger btn-sm">Eliminar</button>
                          -->
                          <button ng-click="modificar(articulo);" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                          <button ng-click="copiar(articulo);" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-copy"></span></button>
                          <button ng-click="eliminar(articulo);" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <pre>Página: {{pageNumber}} / {{listado.totalPages}}</pre>
            </div>
        </div>
    </div>
</div>
